@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* Full viewport height */
    height: 100vh;
    /* Remove default margin */
    margin: 0;
    display: flex;
    /* Center horizontally */
    justify-content: center;
    /* Center vertically */
    align-items: center;    
}